@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 15% 18%;
    --foreground: 60 30% 96%;
    --card: 232 14% 31%;
    --card-foreground: 60 30% 96%;
    --popover: 231 15% 18%;
    --popover-foreground: 60 30% 96%;
    --primary: 326 100% 74%;
    --primary-foreground: 231 15% 18%;
    --secondary: 225 27% 51%;
    --secondary-foreground: 60 30% 96%;
    --muted: 225 27% 51%;
    --muted-foreground: 265 89% 78%;
    --accent: 195 97% 77%;
    --accent-foreground: 231 15% 18%;
    --destructive: 0 100% 67%;
    --destructive-foreground: 60 30% 96%;
    --border: 225 27% 51%;
    --input: 232 14% 31%;
    --ring: 326 100% 74%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 15% 18%;
    --foreground: 60 30% 96%;
    --card: 232 14% 31%;
    --card-foreground: 60 30% 96%;
    --popover: 231 15% 18%;
    --popover-foreground: 60 30% 96%;
    --primary: 326 100% 74%;
    --primary-foreground: 231 15% 18%;
    --secondary: 225 27% 51%;
    --secondary-foreground: 60 30% 96%;
    --muted: 225 27% 51%;
    --muted-foreground: 265 89% 78%;
    --accent: 195 97% 77%;
    --accent-foreground: 231 15% 18%;
    --destructive: 0 100% 67%;
    --destructive-foreground: 60 30% 96%;
    --border: 225 27% 51%;
    --input: 232 14% 31%;
    --ring: 326 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full px-4 md:px-6 py-12 md:py-24 lg:py-32;
  }
}
